// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.top-bar{background-color: #2d343d;height: 51px;color:#ffffff;}
.top-bar .social-links svg{fill: #ffffff}
header a,footer a{color: #ffffff;}
header a:hover,footer a:hover{color: #bdbdbd;}
.top-bar .social-links svg:hover{fill:#bdbdbd;}
.header {min-height: 180px;background: url(images/edata-main-bg.jpg); background-size: cover !important;}
.logo img{max-width:125px;}
.do-search svg{fill: #ffffff;}
.do-search svg:hover{fill: #bdbdbd;}
.tagline{color: #fff; font-weight: bold;text-transform: uppercase;text-align: center;margin-top: 15px;text-shadow: 1px 1px black;font-size: 3em;font-style: italic;}
footer{background-color: #2d343d;padding-top: 35px;color: #ffffff;margin-bottom:0}
#search_form,#last_news{background-color: #f1f1f1}
