// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~tailwindcss/dist/base.css';
@import '~tailwindcss/dist/utilities.css';

@import 'components/home';

body {
  color: $black;
}

#app {
  min-height: 100vh;
}

.flex-cell {
  display: flex;
  flex-direction: column;

  &--centered {
    justify-content: center;
  }
}

img {
  max-width: 100%;
}

.color-white {
  color: $white !important;
}

.color-black {
  color: $black !important;
}

.color-blue {
  color: $blue !important;
}

.color-indigo {
  color: $indigo !important;
}

.color-purple {
  color: $purple !important;
}

.color-pink {
  color: $pink !important;
}

.color-red {
  color: $red !important;
}

.color-orange {
  color: $orange !important;
}

.color-yellow {
  color: $yellow !important;
}

.color-green {
  color: $green !important;
}

.color-teal {
  color: $teal !important;
}

.color-cyan {
  color: $cyan !important;
}

.bgc-black {
  background-color: $black;
}

.bgc-white {
  background-color: $white;
}

.bgc-blue {
  background-color: $blue;
}

.bgc-indigo {
  background-color: $indigo;
}

.bgc-purple {
  background-color: $purple;
}

.bgc-pink {
  background-color: $pink;
}

.bgc-red {
  background-color: $red;
}

.bgc-orange {
  background-color: $orange;
}

.bgc-yellow {
  background-color: $yellow;
}

.bgc-green {
  background-color: $green;
}

.bgc-teal {
  background-color: $teal;
}

.bgc-cyan {
  background-color: $cyan;
}

.pager-wrapper {
  span[aria-current="page"] > span {
    font-weight: bold;
    background-color: lighten($cyan, 28) !important;
    color: $cyan;
  }
}

.weather {
  width: 170px;
  background: #fff;
  color: #000;
  padding: 12px 0 12px 26px;
  position: absolute;
  top: -35px;
  left: -10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px #00000088;

  &__temp {
    align-items: baseline;
    display: inline-flex;
    background: #376ce3;
    color: #fff;
    padding: 0 4px;
    border-radius: 6px;
    font-size: 12px;
  }

  &__city {
    overflow: hidden;
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__description {
    background: #ffc930;
    border-radius: 5px;
    margin-left: 8px;
    padding: 0 8px;
    color: #bd7407;
  }
}
