.home-banner {
  color: #fff;

  .h2 {
    font-weight: bold;
  }

  &__mockup {
    img {
      width: 100%;
      display: block;
      border-radius: 10px;
      box-shadow: 0 10px 30px darken($blue, 24);
      margin: auto;
      max-width: 400px;
      max-height: 400px;
      object-fit: cover;
      object-position: center center;
    }
  }

  .col-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}